<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Список услуг</title>
</head>
<body>

<h1>Список услуг</h1>

<a href="{% url 'clinic:service_add' %}">Добавить услугу</a>

<ul>
    {% for service in services %}
        <li>
            <a href="{% url 'clinic:service_detail' service.pk %}">
                {{ service.name }}
            </a>
            |
            <a href="{% url 'clinic:service_edit' service.pk %}">Редактировать</a>
            |
            <a href="{% url 'clinic:service_delete' service.pk %}">Удалить</a>
        </li>
    {% empty %}
        <li>Услуг пока нет</li>
    {% endfor %}
</ul>

</body>
</html>
